<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-md-5">
            <div class="card p-3">
                <img [src]="emp.EmpImage" alt="Employee Image" class="card-img-top" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{emp.EmpName}}</h5>
                    <p class="card-text">{{emp.EmpCity}}</p>
                    <p class="card-text">{{emp.EmpDesc}}</p>
                    <p class="card-text">Joining Date: {{emp.EmpJoiningDate}}</p>
                    <p class="card-text">Experience: {{emp.Empexperience}}</p>
                    <button class="btn btn-danger mr-2" (click)="deleteemp(emp._id)">Delete</button>
                    <a routerLink="/employee/edit/{{emp._id}}" class="btn btn-success">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
